{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h2 class="text-white my-3">About Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis illo pariatur sunt dolore. Qui beatae commodi quos sequi architecto voluptate molestiae, doloremque consequuntur in laboriosam suscipit nam ab quisquam magni excepturi cumque non veniam inventore labore libero eveniet. Nisi, corrupti! Optio sunt labore nobis fuga modi atque ut consequatur alias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis deserunt odio sunt, adipisci ducimus deleniti architecto harum nesciunt dicta totam magnam, voluptas corrupti iusto modi sed illo possimus excepturi blanditiis repellat maiores esse earum? Ipsa sunt voluptatum, temporibus placeat, repellat, laborum unde recusandae nam aperiam iste dolor facilis error ab?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis deserunt odio sunt, adipisci ducimus deleniti architecto harum nesciunt dicta totam magnam, voluptas corrupti iusto modi sed illo possimus excepturi blanditiis repellat maiores esse earum? Ipsa sunt voluptatum, temporibus placeat, repellat, laborum unde recusandae nam aperiam iste dolor facilis error ab?</p>
</div>
{% endblock content %}